
/* total width */
.table-container::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

/* background of the scrollbar except button or resizer */
.table-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
.table-container::-webkit-scrollbar-thumb {
  background-color: #babac08a;
  border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
.table-container::-webkit-scrollbar-button {
  display: none;
}
